/* please don't mind the shitty CSS on this file, truly apologize */
.container {
  box-sizing: border-box;

  width: 1500px;
  height: 800px;

  background: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  z-index: 1;

  padding: 1.4rem;
}

.loadingProfile {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebarContainer {
  width: 20%;
  height: 100%;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.mainContainer {
  height: 100%;
}

.profileContainer {
  position: relative;
  width: 276px;
  height: 138px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImageOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.coverImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profileContentContainer {
  position: absolute;
  top: 15px;
  left: calc(50% - var(--variable-width));
}

.profileImage {
  width: 80px;
  height: 80px;

  border: solid 0.1rem #fff;
  border-radius: 50%;
  background: #ffffff;
}

.profileNameContainer {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-end !important;
}

.profileUsername {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.profileUserhash {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.sidebarTabListContainer {
  padding-top: 1rem;
  padding-bottom: 16.5rem;
}

.sidebarTabContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.sidebarTabContainer:hover {
  opacity: 1;
}

.selectedContainer {
  opacity: 1;
}

.sidebarTabTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 0.75rem;
  padding-left: 0.5rem;

  color: #ffffff;
}

.sidebarFooter {
  width: 226px;
  height: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #505050;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balanceContainer {
  width: 100%;
  height: 20%;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2rem;
  justify-content: space-between;
}

.balanceContainerLeftSection {
  align-items: flex-start !important;
}

.balanceContainerRightSection {
  align-items: flex-end !important;
}

.balanceContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.balanceContainerBalance {
  font-family: "Lexend Mega";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;

  letter-spacing: -0.1em;

  color: #ffffff;
}

.copyAddressContainer {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  position: relative;
}

.copyAddressContainer:hover {
  opacity: 0.8;
}

.copyAddressContainer:active {
  opacity: 1;
}

.copiedPopover {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  padding: 0.5rem 1rem;
  left: 2rem;
  bottom: 2rem;
  transition: 3s ease-in-out;
}

.copiedVaultPopover {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  padding: 0.5rem 1rem;
  left: 12rem;
  top: 3rem;
  transition: 3s ease-in-out;
}

.balanceContainerAddress {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.balanceContainerButton {
  background: rgba(0, 0, 0, 0.01) !important;
  width: 134px !important;
  height: 53px !important;
  border-radius: 10px !important;

  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1em;

  color: #ffffff;

  transition: 0.3s ease-in-out;
}

.balanceContainerButtonText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  padding-left: 0.5rem;
}

.balanceContainerButton:hover {
  background: rgba(35, 35, 35, 0.5) !important;
}

.symbolLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.toastText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* TOKEN CONTAINER */

.tokenContainer {
  width: 446px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;
}

.tokenContainerTitleBox {
  width: 100%;
  display: flex;
  justify-content: flex-start !important;
  padding-left: 1rem;
}

.tokenContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  color: #ffffff;
}

.vaultContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  /* identical to box height */

  color: #ffffff;
}

.tokenListCellContainer {
  width: 100%;
  overflow-y: scroll;
}

.vaultTokenListCell {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}

.tokenListCell {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}

.tokenListCell:hover {
  background: rgba(255, 255, 255, 0.1);
}

.tokenName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  padding-left: 0.5rem;
}

.tokenListCellRightSection {
  display: flex;
  align-items: flex-end !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.tokenFiatBalance {
  padding: 0 !important;
  margin: 0 !important;
}

.tokenCryptoBalance {
  padding: 0 !important;
  margin: 0 !important;
}

.tokenImage {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.pieChartContainer {
  width: 300px;
  font-size: 5px !important;
}

/* NFT CONTAINER */

.NFTContainer {
  width: 594px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;
}

.NFTListCellContainer {
  width: 100%;
  overflow-y: scroll;
}

.VaultNFTListCell {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  padding: 0.5rem;
}

.NFTListCell {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  padding: 0.5rem;
}

.NFTListCell:hover {
  background: rgba(255, 255, 255, 0.1);
}

.NFTName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.NFTListCellNameContainer {
  width: 100%;
  display: flex;
  align-items: flex-start !important;
  padding: 0 0.5rem;
}

.NFTListCellFooter {
  width: 100%;
  display: flex;
  align-items: flex-end !important;
  padding: 0 0.5rem;
}

.NFTImage {
  width: 150px;
  height: 150px;
}

.NFTCollectionName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 !important;
  margin: 0 !important;
}

.NFTTokenID {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 0 !important;
  margin: 0 !important;
}

/* Vault CONTAINER */

.VaultContainer {
  width: 500px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;
}

.VaultContainerTitleBox {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding-left: 1rem;
}

.NFTListCellContainer {
  width: 100%;
  overflow-y: scroll;
}

.VaultListCell {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}

.vaultColorLabel {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.vaultDetailColorLabel {
  position: absolute;
  left: 0;
}

.VaultListCell:hover {
  background: rgba(255, 255, 255, 0.1);
}

.selectedCell {
  background: rgba(255, 255, 255, 0.1);
}

.vaultContentContainer {
  padding: 1rem;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.vaultInnerContentContainer {
  width: 100%;
}

.NFTName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.NFTListCellNameContainer {
  width: 100%;
  display: flex;
  align-items: flex-start !important;
  padding: 0 0.5rem;
}

.NFTListCellFooter {
  width: 100%;
  display: flex;
  align-items: flex-end !important;
  padding: 0 0.5rem;
}

.VaultImage {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.NFTCollectionName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 !important;
  margin: 0 !important;
}

.NFTTokenID {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 0 !important;
  margin: 0 !important;
}

.VaultButtonContainer {
  width: 40%;
  justify-content: flex-end !important;
  gap: 0.5rem;
}

.VaultButton {
  width: 60px !important;
  height: 60px !important;
  padding: 0 !important;
  margin: 0 !important;

  background: #1f1f1f !important;
  border-radius: 50% !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: white;
  opacity: 0.8;
  transition: 0.2 ease-in-out;
  position: relative;
}

.bellNotification {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  font-family: "Montserrat";
}
.VaultButton:hover {
  opacity: 1;
}

.VaultDetailContainer {
  width: 643px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;

  overflow-y: scroll;
}

.VaultSuccessDetailContainer {
  width: 643px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;

  overflow-y: scroll;

  padding-top: 3rem;
}

.CreateVaultContainer {
  width: 643px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;

  overflow-y: scroll;
}

.VaultDetailbuttonContainer {
  width: 50%;
  justify-content: flex-end !important;
  gap: 0.5rem;
}

.vaultDetailContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding-right: 1rem;
}

.vaultScoreTitleLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 8rem;
}

.vaultBalanceLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.vaultBalanceAmount {
  font-family: "Lexend Mega";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */

  letter-spacing: -0.1em;
}

.vaultDetailTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.vaultDetailSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.VaultDetailTextContainer {
  width: 100%;
  display: flex;
}

.VaultDetailTextSubcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
}

.accordion {
  width: 100%;
}

.accordionItem {
  border: none !important;
}

.accordionButton {
  padding: 0.6rem 0 !important;
}

.vaultPermissionTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.vaultPermissionSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.vaultPermissionsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding: 0.5rem 0;
}

.vaultImageUploadContainer {
  justify-content: center;
  align-items: center;
}

.vaultImageUpload {
  width: 310px !important;
  height: 54px !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 24px;

  padding: 1rem !important;

  background: #0d0d0d;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.uploadButton {
  color: transparent !important;
  width: 150px;
  height: 54px;
}

.uploadButton::file-selector-button {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  background: transparent !important;

  padding: 0.8rem 1rem;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  color: white;
}

.vaultSwitchContainer {
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 1rem;
}

.vaultSwitchText {
  width: 80%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.selectTokenContainer {
  display: flex;
  align-items: flex-start !important;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.depositTokenContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.vaultTransferText {
  width: 90%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  padding-bottom: 1rem;
}

.vaultTransferDetailImage {
  width: 210px;
  height: 210px;

  border-radius: 10px;
}

.vaultRecipientContainer {
  display: flex;
  align-items: flex-start !important;
}

/* DETAIL CONTAINER */

.detailContainer {
  width: 697px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;
}

.NFTdetailContainer {
  width: 549px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;

  overflow-y: scroll;
}

.NFTdetailbuttonContainer {
  width: 40%;
  justify-content: flex-end !important;
  gap: 0.5rem;
}

.NFTdetailButton {
  width: 60px !important;
  height: 60px !important;
  padding: 0 !important;
  margin: 0 !important;

  background: #1f1f1f !important;
  border-radius: 50% !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: white;
  opacity: 0.8;
  transition: 0.2 ease-in-out;
}

.NFTdetailButton:hover {
  opacity: 1;
}

.NFTdetailImage {
  width: 274px;
  height: 274px;

  border-radius: 10px;
}

.NFTdetailTextContainer {
  width: 100%;
  display: flex;
  padding: 0 2rem;
}

.NFTdetailTextSubcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
}

.NFTdetailDescriptionContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.NFTdetailTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.NFTdetailSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.NFTcontentContainer {
  padding: 1rem;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.sendNFTContentContainer {
  padding: 1rem;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.createVaultContainer {
  padding: 1rem;
  width: 100%;
  height: 25rem;
  color: white;
  justify-content: center;
  align-items: center;
}

.NFTrecipientLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.NFTaddressInput {
  width: 474px !important;
  height: 54px !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 24px;

  padding: 1rem !important;

  background: #0d0d0d;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.NFTrecipientContainer {
  display: flex;
  align-items: flex-start !important;
  padding-top: 0.5rem;
}

.NFTswitchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.NFTswitchText {
  width: 90%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.detailContainerTitleBox {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding: 0 1rem 0 2rem;
  position: relative;
}

.detailContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.detailAddressContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}

.detailAddressContainerTitle:hover {
  opacity: 0.8;
}

.detailAddressContainerTitle:active {
  opacity: 1;
}

.scoreListContainer {
  color: white;
  height: 300px;
  overflow-y: scroll;
  align-items: flex-start !important;
}

.scoreContainer {
  padding-top: 0.5rem;
}

.scoreBarTokenLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.scoreBarContainer {
  position: relative;
  width: 500px;
  height: 10px;

  background: rgba(217, 217, 217, 0.59);
  border-radius: 5px;
}

.NFTscoreBarContainer {
  position: relative;
  width: 300px;
  height: 10px;

  background: rgba(217, 217, 217, 0.59);
  border-radius: 5px;
}

.scoreBar {
  position: absolute;
  width: 75%;
  height: 100%;

  border-radius: 10px;
  background: #e38627;
}

.scoreTitleLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 3.8rem;
}

.NFTscoreTitleLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 4rem;
}

.scoreLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0.5rem;
}

.sendTokenContentContainer {
  padding: 2rem;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.sendTokenInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.sendTokenMaxButton {
  width: 70px !important;
  height: 70px !important;
  padding: 0 !important;
  margin: 0 !important;

  background: #1f1f1f !important;
  border-radius: 50% !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: white;
}

.amountInput {
  width: 50% !important;
  padding: 0.5rem;
  height: 100px !important;
  text-align: center !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 96px !important;
  line-height: 117px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none !important;
  outline: none !important;
  color: rgba(255, 255, 255, 0.8);
}

.amountInput:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.amountInput:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.recipientLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.addressInput {
  width: 544px !important;
  height: 76px !important;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 29px;

  padding: 1rem !important;

  background: #0d0d0d;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.recipientContainer {
  display: flex;
  align-items: flex-start !important;
  padding-top: 0.5rem;
}

.switchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.vaultSwitch {
  padding-left: 3rem;
}

.switchText {
  width: 80%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cancelButton {
  width: 220px !important;
  height: 68px !important;

  background: #0d0d0d;
  border: 1px solid #363636;
  border-radius: 20px !important;

  background: rgba(0, 0, 0, 0.01) !important;

  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1em;

  color: #ffffff;

  transition: 0.3s ease-in-out;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.sendButton {
  width: 220px !important;
  height: 68px !important;

  background: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid #363636;
  border-radius: 20px !important;

  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1em;

  color: #ffffff;

  transition: 0.3s ease-in-out;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.cancelButton:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.sendButton:hover {
  background: rgba(255, 255, 255, 0.3) !important;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.createVaultbuttonContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.sentContainer {
  color: white;
  position: relative;
}

.sentContainerLottie {
  position: absolute;
  top: -70px;
}

.sentContainerTextContainer {
  padding-top: 280px;
}

.sentContainerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.sentContainerSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;

  opacity: 0.6;

  padding-bottom: 3rem;
}

.NFTSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 59px;

  opacity: 0.6;

  padding-bottom: 3rem;
}

.sentContainerFooter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.comingSoonContainer {
  width: 1159px;
  height: 587px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  padding: 1.5rem 1rem;
}

.comingSoonContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingSoonText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
